h1 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#perguntas {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.perguntas {
    height: 20%;
    display: flex;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 20px;

}
.resposta {
    width: 100%;
    background-color: #C40C0C;

    border-top: 2px solid;
    cursor: pointer;
    transition: 1s;
}
.resposta.enabled:hover {
    background-color: #FF8A08;
    cursor: pointer;
}
.respostas {
    width: 100%;
    

}
.respostas p, input {
    width: 100%;
    padding: 20px;
    height: 4rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    font-size: 24px;

    border-bottom: 2px;
}
.respostas input {
    padding-right: 100px;
}
#correta {
    background-color: #C40C0C;
}
#correta.enabled:hover {
    background-color: #FF8A08;
    cursor: pointer;
}

#botoes {
    display: flex;
}
#botao1 {
    visibility: visible;
    display: flex;
    font-size: 16px;
    margin-top: 2rem;
    background-color: #C40C0C;
    padding: 20px;
}

#check {
    width: 20px;
    height: 20px;
}

h1 {
    text-align: center;
}

#quiz {
    display: flex;
    flex-direction: column;
}
/*#quiz h3 {

}*/
.acertos {
    color: rgb(0, 140, 0);
}

.verde {
    color: rgb(0, 140, 0);
}
.amarelo {
    color: yellow;
}
.vermelho {
    color: rgb(200,0,0);
}