



#cassino {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#roleta-titulo {
    padding: 40px;
    font-size: 36px;

    color: black;
}



.number {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 8rem;
    font-size: 36px;
    color: white;
}
.red {
    background-color: rgb(200,0,0);
}
.black {
    background-color: rgb(40, 40, 40);
}
.green {
    background-color: rgb(0, 140, 0);
}

.plus {
    color: green;
}
.minus {
    color: red;
}

.pointer {
    position: absolute;
    left: 952px;
    justify-content: center;
    width: 1rem;
    height: 1.5rem;
    z-index: 1000;
    background-color: orange;

    visibility: hidden;
}

.rodar {
    padding: 20px;
    width: 16rem;
    font-size: 24px;
    transition: 1s;
    border: none;
    color: white;
}

.rodar:hover {
    cursor: pointer;
    filter:brightness(1.75);
}
.rodar:disabled {
    filter: brightness(0.8);
}



#status {
    font-size: 24px;
    height: 2rem;
    padding-bottom: 20px;
}

#bet-input {
    font-size: 36px;
}

#balance {
    font-size: 24px;
}

#bet-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    width: 22%;

}
#bet {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#bet p {
    padding-top: 10px;
    font-size: 16px;
}
#bet-options {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#disclaimer {
    position: absolute;
    bottom: 0px;
    margin-top: 16rem;
    width: 85vw;

    padding: 5px;

    background-color: #FF8A08;
}

#floating-text {
    display: inline-block;
    animation: float-up 1s 1 linear forwards;
    opacity: 100%;
}

@keyframes float-up {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
        opacity: 0%;
    }
}

#jogo {
    display: flex;
    justify-content: space-around;
}