* {
    padding: 0;
    margin: 0;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: orange;
    height: 2rem;
    padding-inline: 8rem;

}

nav, ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    gap: 20px;
}
li, a {
    text-decoration: none;
    transition: 1s;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#jogo {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#roleta {   
    display: flex;
    flex-direction: row;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 24px;
    color: white;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
.green {
    background-color: green;
}
.pointer {
    position: relative;
    right: 300px;
    width: 1rem;
    height: 2rem;
    background-color: orange;
}