* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #FF8A08; */
    overflow-x: hidden;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FF6500;
    height: 4rem;

}

#header img {
    height: 4rem;
}

#brand {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    background-color: #FF6500;
}
#brand p {
    font-weight: bold;
    font-size: 24px;    
}

#brand:hover {
    cursor: pointer;
}

nav, ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    padding-right: 8rem;

    gap: 20px;
}
li, a {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 1s;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#main {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;
    min-width: 100%;
    
}

#cassino {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#roleta-titulo {
    padding: 40px;
    font-size: 36px;

    color: black;
}

#sidebar {
    background-color: #FF6500;
    height: calc(100vh - 4rem);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}



.sidebar-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

.sidebar-item:hover{
    cursor: pointer;
    background-color: #FF8A08;
}
.sidebar-item p {
}

.number {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 8rem;
    font-size: 36px;
    color: white;
}
.red {
    background-color: rgb(200,0,0);
}
.black {
    background-color: rgb(40, 40, 40);
}
.green {
    background-color: rgb(0, 140, 0);
}

.plus {
    color: green;
}
.minus {
    color: red;
}

.pointer {
    position: absolute;
    left: 952px;
    justify-content: center;
    width: 1rem;
    height: 1.5rem;
    z-index: 1000;
    background-color: orange;

    visibility: hidden;
}

.rodar {
    padding: 20px;
    width: 16rem;
    font-size: 24px;
    transition: 1s;
    border: none;
    color: white;
}

.rodar:hover {
    cursor: pointer;
    filter:brightness(1.75);
}
.rodar:disabled {
    filter: brightness(0.8);
}



#status {
    font-size: 24px;
    height: 2rem;
    padding-bottom: 20px;
}

#bet-input {

}

#bet-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    width: 22%;

}
#bet {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#bet p {
    padding-top: 10px;
    font-size: 16px;
}
#bet-options {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#disclaimer {
    position: absolute;
    bottom: 0px;
    margin-top: 16rem;
    width: 85vw;

    background-color: #FF8A08;
}

#floating-text {
    display: inline-block;
    animation: float-up 1s 1 linear forwards;
    opacity: 100%;
}

@keyframes float-up {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
        opacity: 0%;
    }
}

#jogo {
    display: flex;
    justify-content: space-around;
}